<div>
    <div>
        <div>
            <p>
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧は出来ますが、<br>
                購入には会員登録が必要になります。<br>
                
            </p>
        </div>
    </div>
</div>
    
<div class="container">
    <div class="row">
        <% @items.each do |items| %>
            <div class=col-lg-3>
                <%= attachment_image_tag items, :image, :fill, 180, 90 %><br>
                <%= items.name %><br>
                <%= items.price.to_s(:delimited)%><br>,
            </div>
        <% end %>
    </div>
</div>

<div>
    <div>
        <%= link_to "すべての商品を見る>", items_path %>
    </div>
</div>