
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <%= attachment_image_tag @item,:image, :fill, 180, 90 %><br>
        </div>
        <div class="col-lg-7">
            <%= @item.name %><br>
            <%= @item.introduction %><br>
            <br>
            <%= "¥" + "#{(@item.price * 1.08).floor}" + "(税込)" %>
            
            
        </div>
    </div>
</div>